[contenteditable="true"] {
  background-color: rgb(206, 194, 194);
}

[contenteditable="true"]:focus {
  background-color: white;
}

th,
button,
input,
td,
p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 4vw;
}
input[type="number"] {
  width: 50px;
}
